.App {
  background-color: #2d2520;
  height: 959px;
  margin: 0;
  overflow-x: hidden;
  /* max-width: 100ch; */
}

.filmes-movie .genero {
  width: 40%;
  margin-top: -171%;
  margin-left: 13%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #E29430;
  position: relative;
}

.banner {
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.botao {
  background-color: #FFA634;
  border: transparent;
  font-weight: bold;
  width: 34%;
  height: 45px;
  margin-bottom: 0%;
  margin-left: 13%;
}

.botao a {
  text-decoration: none;
  color: black;
}

.filmes-movie p, h2 {
  margin-left: 13%;
  color: white;
  font-size: 113%;
}

.filmes-movie h2 {
  font-size: 265%;
  margin-bottom: -1%;
  padding: 0;
}

.filmes-movie {
  /* padding-left: 3%; */
  width: 45%;
}

.detalhes {
  margin-bottom: -1%;
}

.descricao {
  width: 105%;
}


.filmes-item-container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filmes-item {
  margin: 0;
}

.filmes-item p {
  color: white;
  margin: 2%;
}

.imagem {
  width: 175px;
  height: 286px;
}

.filmes-item .generoItem {
  text-align: center;
  margin-top: -64%;
  color: #FFA634;
  background-color: #000000a1;
  position: relative;
  width: 76%;
}

.detalhesItem {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8%;
}

.sombra-imagem {
  background-color: #00000069;
}

.conteudo-filmes {
  
}