.filmes-movie .genero {
  width: 31%;
  margin-top: -98%;
  /* margin-bottom: 34%; */
  background-color: rgba(0, 0, 0, 0.5);
  color: #E29430;
  position: relative;
}

.banner {
  height: 60vh;
  width: 98vh;
}

.botao {
  background-color: #FFA634;
  border: transparent;
  font-weight: bold;
  width: 34%;
  height: 45px;
  margin-bottom: 72%;
}

.botao a {
  text-decoration: none;
  color: black;
}

.filmes-movie p, h2 {
  color: white;
  font-size: 113%;
}

.filmes-movie h2 {
  font-size: 265%;
  margin-bottom: -1%;
  padding: 0;
}

.filmes-movie {
  padding-left: 3%;
  width: 45%;
}

.detalhes {
  margin-bottom: 12%;
}


.imagem {
  width: 184px;
  height: 273px;
}

.generoItem {
  margin-top: -11%;
  color: #FFA634;
  background-color: #000000a1;
  position: relative;
  width: 15%;
}

.detalhesItem {

}

.filmes-item {

}